body {
  font-family: "Work Sans", Arial, sans-serif;
  color:#7e7e7e;
}

a, a:visited {
  text-decoration: none;
}

@media (min-width: 800px) {
  .content {
    padding: 4em 100px;
    margin: auto;
    max-width:75%;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 10px;
    margin: auto;
  }
}

.content {
  padding: 50px;
  margin: auto;
}

header {
  background-color: #e14a0e;
  margin: auto;
  padding:3em 0;
  /*border: #f2f2f2 4px double;*/
  border-radius: 100px;
  /*box-shadow: 0 0 0 4px #e14a0e;*/
  box-sizing: border-box;

  text-align: center;
  text-transform: lowercase;
  color: #e14a0e;
}

header>h1 {
  margin: 0;
  margin-bottom: 0.15em;
  font-size:5em;
}

@media (max-width: 400px) {
  .content {
    margin: 20px;
    padding: 0;
  }

  header>h1 {
    font-size:2em;
  }
}



header>h1>a, header>sub{
  color: white;
}

header>sub {
  font-size: 1.5em;
}

.container {
  list-style-type: none;
  margin-top:2em;

  font-size:1.8em;
  font-weight:lighter;

  margin-left: auto;
  margin-right: auto;

  line-height: 1.5em;
}

@media (max-width: 400px) {
  .container {
    font-size: 1.5em;    
  }
}


.container>ul>li {
  list-style-type: none;
  margin: 25px auto;
}

.project, .about, .twitter {
  color: #7e7e7e;
  background-color: #fcff20;
  font-weight: normal;
  padding:0px 15px;
  transform: skewX(-10deg);
  transition: background-color .2s ease-out;
}

.project:hover, .about:hover, .twitter:hover {
  background-color: #eaed23;
  color: #494949;
}

.project, .about, .twitter, .role {
  display: inline-block;
}

.about-excerpt {
  font-size: .8em;
  line-height: 1.25em;
  font-weight:normal;
  text-transform: none;
  text-align: left;
  color: #999999;
}

.about-excerpt ol {
  padding-left: 20px;
}
