<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="content">
    {% include header.html %}

    <div class="intro">
      <p>
        {{ site.intro }}
      </p>
      <nav>
        <ul>
          <li><a href="/about.html">about</a></li>
          <li><a href="http://twitter.com/dirosaur">twitter</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">

    {{ content }}

    {% include footer.html %}
    </div><!-- /.main -->
  </div>
</body>
</html>